<footer class="page-footer" id="contacts">
      <div class="container page-footer__container">
        <div class="page-footer__wrap">
          <div class="contacts page-footer__contacts">
            <!-- Footer - contacts -->
            <a
              class="logo logo--secondary contacts__logo"
              href="./index.html"
              lang="en"
              >Web
              <span class="logo__secondary-color logo__secondary-color--footer"
                >Studio</span
              ></a
            >
            <address class="address">
              <p class="address__street">г. Киев, пр-т Леси Украинки, 26</p>
              <ul class="address__contacts">
                <li>
                  <a
                    class="address__link address__link--margin"
                    href="mailto:info@devstudio.com"
                    >info@devstudio.com</a
                  >
                </li>
                <li>
                  <a class="address__link" href="tel:+380961111111"
                    >+38 096 111 11 11</a
                  >
                </li>
              </ul>
            </address>
          </div>

          <!-- Footer - join us -->
          <div class="joinus">
            <h2 class="joinus__appeal">присоединяйтесь</h2>
            <ul class="socialnetworks joinus__socialnetworks">
              <li class="socialnetworks__item">
                <a
                  class="socialnetworks__link socialnetworks__link--footer-color"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Ссылка на Инстаграм"
                >
                  <svg class="socialnetworks__icon" width="20" height="20">
                    <use href="/images/sprite.svg#social-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="socialnetworks__item">
                <a
                  class="socialnetworks__link socialnetworks__link--footer-color"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Ссылка на Твиттер"
                >
                  <svg class="socialnetworks__icon" width="20" height="20">
                    <use href="/images/sprite.svg#social-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="socialnetworks__item">
                <a
                  class="socialnetworks__link socialnetworks__link--footer-color"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Ссылка на Фейсбук"
                >
                  <svg class="socialnetworks__icon" width="20" height="20">
                    <use href="/images/sprite.svg#social-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socialnetworks__item">
                <a
                  class="socialnetworks__link socialnetworks__link--footer-color"
                  href=""
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Ссылка на Линкед Ин"
                >
                  <svg class="socialnetworks__icon" width="20" height="20">
                    <use href="/images/sprite.svg#social-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <!-- Footer - subscription -->
          <div class="subscription page-footer__subscription">
            <h2 class="subscription__appeal">Подпишитесь на рассылку</h2>
            <form class="subscription-form">
              <input
                class="subscription__input"
                type="text"
                name="email"
                placeholder="E-mail"
              />
              <button type="submit" class="subscription__button">
                <div class="subscription__wrap">
                  Подписаться<svg
                    class="subscription__icon"
                    width="24"
                    height="24"
                  >
                    <use href="/images/sprite.svg#send-button"></use>
                  </svg>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </footer>