    <main class="portfolio-html">
      <!-- Portfolio section -->
      <section class="section portfolio">
        <div class="container portfolio__container">
          <!-- Portfolio filter -->
          <ul class="portfolio-filter portfolio__filter">
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Все
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Веб-сайты
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Приложения
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Дизайн
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Маркетинг
              </button>
            </li>
          </ul>

          <!-- Portfolio items -->
          <!-- Hidden h2 'Our portfolio' -->
          <ul class="portfolio-content portfolio__content" id="portfolio-cards">
            {{> portfolio-cards}}
          </ul>
        </div>
      </section>
    </main>
