    <main class="portfolio-html">
      <!-- Portfolio section -->
      <section class="section portfolio">
        <div class="container portfolio__container">
          <!-- Portfolio filter -->
          <ul class="portfolio-filter portfolio__filter">
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Все
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Веб-сайты
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Приложения
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Дизайн
              </button>
            </li>
            <li class="portfolio-filter__item">
              <button type="button" class="portfolio-filter__button">
                Маркетинг
              </button>
            </li>
          </ul>

          <!-- Portfolio items -->
          <!-- Hidden h2 'Our portfolio' -->
          <ul class="portfolio-content portfolio__content">
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-techokryak-mobile-450.webp 450w,
                        ./images/pf-techokryak-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-techokryak-desktop-370.webp 270w,
                        ./images/pf-techokryak-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-techokryak-tablet-354.webp 354w,
                        ./images/pf-techokryak-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-techokryak-mobile-450.jpg 450w,
                        ./images/pf-techokryak-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-techokryak-desktop-370.jpg 270w,
                        ./images/pf-techokryak-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-techokryak-tablet-354.jpg 354w,
                        ./images/pf-techokryak-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-techokryak-desktop-370.jpg"
                      alt="Технокряк"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Технокряк</h2>
                  <p class="portfolio-card__text">Веб-сайт</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-new-orlean-mobile-450.webp 450w,
                        ./images/pf-new-orlean-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-new-orlean-desktop-370.webp 270w,
                        ./images/pf-new-orlean-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-new-orlean-tablet-354.webp 354w,
                        ./images/pf-new-orlean-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-new-orlean-mobile-450.jpg 450w,
                        ./images/pf-new-orlean-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-new-orlean-desktop-370.jpg 270w,
                        ./images/pf-new-orlean-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-new-orlean-tablet-354.jpg 354w,
                        ./images/pf-new-orlean-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-new-orlean-desktop-370.jpg"
                      alt="Постер с баскетболистами"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">
                    Постер New Orlean vs Golden Star
                  </h2>
                  <p class="portfolio-card__text">Дизайн</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-seafood-mobile-450.webp 450w,
                        ./images/pf-seafood-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-seafood-desktop-370.webp 270w,
                        ./images/pf-seafood-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-seafood-tablet-354.webp 354w,
                        ./images/pf-seafood-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-seafood-mobile-450.jpg 450w,
                        ./images/pf-seafood-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-seafood-desktop-370.jpg 270w,
                        ./images/pf-seafood-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-seafood-tablet-354.jpg 354w,
                        ./images/pf-seafood-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-seafood-desktop-370.jpg"
                      alt="Рыба"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Ресторан Seafood</h2>
                  <p class="portfolio-card__text">Приложение</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-prime-mobile-450.webp 450w,
                        ./images/pf-prime-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-prime-desktop-370.webp 270w,
                        ./images/pf-prime-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-prime-tablet-354.webp 354w,
                        ./images/pf-prime-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-prime-mobile-450.jpg 450w,
                        ./images/pf-prime-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-prime-desktop-370.jpg 270w,
                        ./images/pf-prime-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-prime-tablet-354.jpg 354w,
                        ./images/pf-prime-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-prime-desktop-370.jpg"
                      alt="Наушники"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Проект Prime</h2>
                  <p class="portfolio-card__text">Маркетинг</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-boxes-mobile-450.webp 450w,
                        ./images/pf-boxes-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-boxes-desktop-370.webp 270w,
                        ./images/pf-boxes-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-boxes-tablet-354.webp 354w,
                        ./images/pf-boxes-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-boxes-mobile-450.jpg 450w,
                        ./images/pf-boxes-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-boxes-desktop-370.jpg 270w,
                        ./images/pf-boxes-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-boxes-tablet-354.jpg 354w,
                        ./images/pf-boxes-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-boxes-desktop-370.jpg"
                      alt="Картинка с коробками"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Проект Boxes</h2>
                  <p class="portfolio-card__text">Приложение</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-inspiration-mobile-450.webp 450w,
                        ./images/pf-inspiration-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-inspiration-desktop-370.webp 270w,
                        ./images/pf-inspiration-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-inspiration-tablet-354.webp 354w,
                        ./images/pf-inspiration-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-inspiration-mobile-450.jpg 450w,
                        ./images/pf-inspiration-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-inspiration-desktop-370.jpg 270w,
                        ./images/pf-inspiration-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-inspiration-tablet-354.jpg 354w,
                        ./images/pf-inspiration-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-inspiration-desktop-370.jpg"
                      alt="Монитор"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">
                    Inspiration has no Borders
                  </h2>
                  <p class="portfolio-card__text">Веб-сайт</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-limited-mobile-450.webp 450w,
                        ./images/pf-limited-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-limited-desktop-370.webp 270w,
                        ./images/pf-limited-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-limited-tablet-354.webp 354w,
                        ./images/pf-limited-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-limited-mobile-450.jpg 450w,
                        ./images/pf-limited-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-limited-desktop-370.jpg 270w,
                        ./images/pf-limited-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-limited-tablet-354.jpg 354w,
                        ./images/pf-limited-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-limited-desktop-370.jpg"
                      alt="Книги"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Издание Limited Edition</h2>
                  <p class="portfolio-card__text">Дизайн</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-lab-mobile-450.webp 450w,
                        ./images/pf-lab-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-lab-desktop-370.webp 270w,
                        ./images/pf-lab-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-lab-tablet-354.webp 354w,
                        ./images/pf-lab-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-lab-mobile-450.jpg 450w,
                        ./images/pf-lab-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-lab-desktop-370.jpg 270w,
                        ./images/pf-lab-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-lab-tablet-354.jpg 354w,
                        ./images/pf-lab-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-lab-desktop-370.jpg"
                      alt="Бирка"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Проект LAB</h2>
                  <p class="portfolio-card__text">Маркетинг</p>
                </div>
              </a>
            </li>
            <li class="portfolio-content__item">
              <a class="portfolio-card" href=""
                ><div class="portfolio-card__thumb">
                  <picture>
                    <source
                      srcset="
                        ./images/pf-growing-mobile-450.webp 450w,
                        ./images/pf-growing-mobile-900.webp 900w
                      "
                      media="(max-width: 767px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-growing-desktop-370.webp 270w,
                        ./images/pf-growing-desktop-740.webp 540w
                      "
                      media="(min-width: 1200px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-growing-tablet-354.webp 354w,
                        ./images/pf-growing-tablet-708.webp 708w
                      "
                      media="(min-width: 768px)"
                      type="image/webp"
                    />
                    <source
                      srcset="
                        ./images/pf-growing-mobile-450.jpg 450w,
                        ./images/pf-growing-mobile-900.jpg 900w
                      "
                      media="(max-width: 767px)"
                    />
                    <source
                      srcset="
                        ./images/pf-growing-desktop-370.jpg 270w,
                        ./images/pf-growing-desktop-740.jpg 540w
                      "
                      media="(min-width: 1200px)"
                    />
                    <source
                      srcset="
                        ./images/pf-growing-tablet-354.jpg 354w,
                        ./images/pf-growing-tablet-708.jpg 708w
                      "
                      media="(min-width: 768px)"
                    />
                    <img
                      class="portfolio-card__image"
                      src=".images/pf-growing-desktop-370.jpg"
                      alt="Ноутбук"
                      sizes="(min-width: 1200px) 33vw, (min-width: 768px) 50vw,  100vw"
                    />
                  </picture>
                  <p class="portfolio-card__overlay">
                    Технокряк это современная площадка распространения
                    коронавируса. Компании используют эту платформу для
                    цифрового шпионажа и атак на защищённые сервера конкурентов.
                  </p>
                </div>
                <div class="portfolio-card__description">
                  <h2 class="portfolio-card__title">Growing Business</h2>
                  <p class="portfolio-card__text">Приложение</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>
