.product-wrapper {
  padding: 50px 0;
  text-align: center;
}

.product-nav-link {
  display: block;
  margin-bottom: 30px;
  padding: 5px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #212121;
  text-decoration: none;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-nav-link:hover,
.product-nav-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.product-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.product-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-card {
  display: flex;
}

.product-desc {
  padding: 0 0 0 20px;
}

.product-desc-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.17;
  color: #212121;
}

.product-desc-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.17;
  color: #212121;
}
